# API Configuration
API_KEY=123

# Web Server Configuration
BIND_PORT=8081
BIND_ADDRESS=0.0.0.0

# MongoDB Configuration
MONGO_PORT=27018
MONGO_URI=mongodb://admin:password@mongo:27017/mywebsite?authSource=admin
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=password
MONGO_DB_NAME=mywebsite
