{% extends 'base.html' %}

{% block content %}
    <div class="container container_body">

        <!-- about text -->
        <div class="container about_content" style="color: grey;">
            <p class="text_block" style="text-transform: uppercase;">// Welcome to my website</p>
            <p class="text_block">Here I share some of my thoughts and projects on Machine Learning, Programming, Reading, Photography and more!</p>
        </div>

        <!-- links -->
        <div class="container about_content" style="color: grey;margin-top: 9%;">
            <ul class="list-unstyled">
                <li class="text_one_liner">
                    <p style="color: grey;font-style: normal;">/</p>
                    <a href="https://github.com/kirillsaidov" class="index_link">GitHub</a>
                </li>
                <li class="text_one_liner">
                    <p style="color: grey;font-style: normal;">/</p>
                    <a href="{{url_for('contact_me')}}" class="index_link">Contact me</a>
                </li>
                <li class="text_one_liner">
                    <p style="color: grey;font-style: normal;">/</p>
                    <a href="https://www.linkedin.com/in/kirill-saidov-507a9b217/" class="index_link">LinkedIn</a>
                </li>
            </ul>
        </div>
        
    </div>
{% endblock %}
