@font-feature-values {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lavinia";
    src: url("../fonts/Lavinia.otf");
}

.background {
    background-color: black;
    background-image: url('../imgs/background_cropped.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 64%;
    background-position-x: 100%;
}

/* entire page adjustments */
.container_body {
    margin-top: 2%;
    margin-left: 10%;
}

/* index page: body content all */
.index_content {
    font-family: "Lavinia";
    font-size: larger;
    margin-top: 15%;
}

/* index page: body content links */
.index_link {
    color: yellow;
    margin-left: 1%;
    text-decoration: underline;
}

.title {
    color: white;
    font-style: italic;
    font-family: "Kode Mono";
}

/* move all text on one line */
.text_one_liner {
    display:flex; 
    justify-content: left;
}

.text_block {
    width: 42%;
}

.about_content {
    font-family: "Kode Mono";
    font-size: larger;
    margin-top: 15%;
}


